@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Poppins:wght@300&display=swap');

body {
  transition: all 300ms ease 0s;
  overflow-x: hidden;
  
  --bg: #ebebeb;
  --card: #ebebeb;
  --theme: #009b9b9f; /* This is a teal color */
  --primary: #003333; /* Dark teal */
  --secondary: #14233e; /* Darker teal */
  --ping: #00b3b3; /* Light teal */
  --shadow: rgba(152, 168, 188, .2);
  background-color: var(--bg);
}

body.dark {
  --bg: #0d192e;
  --card: #14233e;
  --theme: #009b9b9f; /* Same teal color for dark mode */
  --primary: #66cccc; /* Light teal for dark mode */
  --secondary: #bbbbbb; /* Less light teal for dark mode */
  --ping: #66cccc; /* Light teal for dark mode */
  --shadow: #0a1528;
}

.list-decorated li::before {
  content: "• ";
  color: var(--secondary);  /* <-- Change color if necessary */
}

.list-decorated li {
  margin-bottom: 0.5em;  /* <-- Add this rule for spacing */
}

.full-width-container {
  width: 100vw;
  margin-left: calc(-50vw + 50%);
}

.patterns {
  height: 10vh;
}

/* ANIMATION TITLE */
svg text {
  padding: 200px;
  font-family: Lora;
  letter-spacing: 10px;
  stroke: #54a3bb;
  font-size: 150px;
  font-weight: 700;
  stroke-width: 1.5;
 
  animation: textAnimation 10s infinite alternate;
  
}

@keyframes textAnimation {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill:var(--theme)
  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(255, 179, 179, 0)
  }
  
}

body.dark svg text {
  stroke: var(--theme);
  animation: textAnimation-dark 5s infinite alternate;
}

@keyframes textAnimation-dark {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset:  20%;
    fill: var(--primary);
  }
  
  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffstet: -20%;
    fill: rgba(168, 231, 215, 0)
  }
}

/* HIGHLIGHT HOVER */
.content h1{
  display: inline;
  background-repeat: no-repeat;
  transition: all 500ms ease-in-out;
}

.highlight h1{
  background-position: left;
  background-size: 0% 100%;
  background-image: linear-gradient(#b0e1e4,#b0e1e4);
}
.highlight:hover h1 {
  background-size: 100% 100%;
  color: var(--primary);
}
.highlight:hover h1 svg path{
  fill:rgb(124, 158, 252);
}
.highlight-under {
  background: linear-gradient(to top, #d6d4ec 10%, transparent 20%);
}

body.dark .highlight:hover h1 svg path {
  fill:var(--theme);
}

body.dark .highlight h1{
  background-image: none;
}

body.dark .highlight:hover #highlight1{
  color: var(--theme);
  
}
/* 
body.dark .highlight:hover h1 {
  color: var(--primary);
} */

body.dark .highlight-under {
  background: none;
}

body.dark .highlight:hover h1 .highlight-under {
  color:var(--theme);
}

body.dark .highlight:hover h1 .highlight-under:hover {
  border-bottom: 2px solid var(--theme);
}

.aside {
  writing-mode: vertical-lr;
}
.vl {
  border-left: 1px solid gray;
  margin-left: 45%;
  left: 50%;
  height: 200px;
}

/* ICON */
.icon:hover {
  color: var(--theme);
}

body.dark .icon:hover {
  color: var(--theme);
}

.text-year {
  color: var(--theme);
}

body.dark .text-year {
  color: var(--theme);
}

/* SKILLS */

.border-square{
  border-color: var(--theme);
}

body.dark .border-square{
  border-color: var(--theme);
}
.bg-primary{
  background-color: var(--theme);
}

body.dark .bg-primary{
  background-color: var(--theme);
}

/* BUTTON */
.effect:hover {
  background-color: var(--theme);
  color: var(--bg);
}
body.dark .effect:hover {
  background-color: var(--theme);
  color: var(--bg);
}

/* NAVIGATION BAR */
header {
  top: 0;
  z-index:1;
  /* background-color: rgba(255, 255, 255, 0.486); */
  background-color: rgba(var(--bg), 0.486);
  backdrop-filter: blur(4px);
  transition: box-shadow 0.3s ease;
  color: var(--primary)
}
header[data-active='true'] {
  box-shadow: 0 2px 8px var(--shadow)
}
body.dark header[data-active='true'] {
  box-shadow: 0 2px 8px var(--shadow)
}
header {
  position: fixed;
  width: 100%;
}

/* Dark mode toggle button */
.dark-button {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -3px;
}

.dark-button:before, .dark-button:after {
  box-sizing: border-box;
}

.dark-button label {
  position: relative;
  display: block;
  width: 25px;
  height: 46px;
  border-radius: 100px;
  border-width: 1px;
  border-color: #9CA3AF;
  overflow: hidden;
  cursor: pointer;
}

.dark-button label:before, .dark-button label:after {
  display: block;
  position: absolute;
  content: "";
  width: 19px;
  height: 19px;
  border-radius: 50%;
  top: 3px;
  left: 2px;
  transition: 0.3s ease;
}
.dark-button label:before {
  background-color: #a6c4bf;
}
.dark-button label:after {
  background-color: #0d192e;
  top: -58px;
  left: 10px;
  transform: scale(0.00001);
}
.dark-button input[type=checkbox] {
  display: none;
}
.dark-button input[type=checkbox]:checked + label:before {
  background-color: #8cf5d7;
  transform: translateY(19px);
}
.dark-button input[type=checkbox]:checked + label:after {
  transform: translateY(75px) scale(1);
}